<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta charset="utf-8" />
	<meta name="description" content="Y's homepage"/>
	<title>Y's simple blog</title>
	<link type="text/css" rel="stylesheet" href="/public/css/bootstrap.min.css" charset="utf-8" />
	<link type="text/css" rel="stylesheet" href="/public/css/indexPage.css" charset="utf-8" />
</head>

<body>
	<div class="header">
		<div class="">
			<img class="logo-img center-block img-circle" src="/public/img/head-img.png" >
		</div>
		<div class="container">
			<div class="row" > 
				<div class="">
					<div class="logotxt">
						<h1 class="title">Y's Zone </h1>
						<small class="title-desc">&nbsp;&nbsp;&nbsp;&nbsp;A programer's blog</small>
					</div> 
					<!-- <h2 class="site-name text-center">HomePage</h2> -->
				</div>
			</div>
		</div>
	</div>
	<div class="container menu-row">
		<div class="row">
				<ul class="menu">
					<li  class="active" rel="indexPage">主页</li>
					<li rel="article">文章</li>
					<li  rel="resources">资源</li>
					<li rel="personal">个人</li>
					<li    rel="others">其他</li>
				</ul>
		</div>
	</div>
	<br>

	<div id="content" class="container content">
		<div class="row">
			<div class="content">
				<h2>Welcome to Y's zone</h2>
				<p class="param">hello world!</p>
				<p class="param">{$p}</p>
			</div>
		</div>
	</div>

	<div  class="container footer text-center">
		<p>power by Y</p>
		<p>Copyright © 2016-2020</p>
	</div>
</body>
<script type="text/javascript" charset="utf-8" src="/public/js/jquery-2.2.1.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/public/js/indexPage.js"></script>
<script type="text/javascript">
	$(".menu li").on("click",function(){
		$(".menu li").removeClass("active");
		$(this).addClass("active");
		indexPage.flashContent($(this).attr("rel"));
	}); 	
</script>
</html>
